<div>
    <div class="w-60 h-screen bg-gray-100 overflow-scroll" style="border: 2px solid red;">
        <div class="wrapper">
            <div class="flex justify-center p-2">
                <p-fileUpload
                    [auto]="true"
                    [multiple]="true"
                    mode="basic" 
                    chooseLabel="Upload File"
                    [chooseIcon]="'pi-upload'" 
                    (onUpload)="fileUploaded($event)"
                    name="demo[]"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    accept=".pdf">
                </p-fileUpload>
            </div>
            <hr>
            <div class="uploaded-files h-56 p-2">
                @for (filePath of filePaths; track $index) {
                    <pdf-viewer
                        [src]="filePath"
                        [page]="1"
                        [fit-to-page]="true"    
                        [autoresize]="true" 
                        style="height: inherit; padding: 0.5rem;">
                    </pdf-viewer>
                }
            </div>
        </div>
    </div>
</div>